ase==3.29.0
ConfigArgParse==1.7.5
cuequivariance==0.7.0
cuequivariance-ops-cu12==0.7.0
cuequivariance-ops-torch-cu12==0.7.0
cuequivariance-torch==0.7.0
e3nn==0.4.4
gitdb==4.0.12
GitPython==3.1.52
h5py==3.16.0
lightning-utilities==0.15.3
lmdb==2.3.0
mace-torch==0.3.16
matscipy==1.1.1
nvidia-cublas-cu12==12.9.2.10
nvidia-cuda-nvrtc-cu12==12.9.86
opt-einsum-fx==0.1.4
orjson==3.11.9
prettytable==3.18.0
smmap==5.0.3
torch-ema==0.3
torchmetrics==1.9.0
wcwidth==0.8.2
